.pizza-container {
    width: 50px;
    /* Ancho del SVG */
    height: 50px;
    /* Alto del SVG */
    position: relative;
    animation: spin 2s linear infinite;
    /* Animación de rotación */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.full-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 500;
}

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 499;

}