.slice_menu_container {
  font-family: var(--font-family);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-background-color);
  box-shadow: 10px 0 10px 0px #00000020;
  width: 25%;
}
.slice_menu {
  min-height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.3s ease;
}
.slice_menu_button {
  width: min-content;
  cursor: pointer;
  padding: 20px;
}
.menu_title {
  visibility: hidden;
}
.slice_close_menu {
  visibility: hidden;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 770px) {
  .slice_menu_container {
    z-index: 100000;
    display: flex;
    width: 0%;
  }
  .slice_menu_button {
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu_title {
    visibility: visible;
  }
  .slice_menu {
    transform: translateX(-100%);
  }
  .slice_menu_open {
    transform: translateX(0%);
    width: 100%;
  }
  .slice_close_menu {
    visibility: visible;
  }
}
