<h1>Installation</h1>
<h2>Prerequisites:</h2>
<ul>
   <li>Nodejs integrated with terminal to run slice commands</li>
   <li>A text editor of your preference</li>
</ul>
<h2>How to install slice.js on your project?</h2>
<ol>
   <li>
      <h3>Install necessary dependencies</h3>
      <p>
         First, you need to add the Slice client to your empty project. This client will help set up Slice.js and create
         the necessary project structure. Open your terminal and run the following command:
         <div class="installation">
         </div>
      </p>
   </li>
   <li>
      <h3>Initialize Slice.js on your project</h3>
      <p>After installing the Slice CLI, you can verify the installation by running:
        <div class="initialize"></div>
    </p>
   </li>
   <li>
    <h3>Creating your first component</h3>
    <p>To create your first Slice component, you must know the slice-cli commands which are in the `Getting Started > Slice-cli` section. 
    </p>
    <p>
        To create a visual component, use the following command replacing  &lt;MyComponent&gt; with your component name.
        <div class="createComp"></div>
    </p>
   </li>
</ol>
