@font-face {
  font-family: "slc";
  src: url('slc.eot?t=1710344643928'); /* IE9*/
  src: url('slc.eot?t=1710344643928#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("slc.woff2?t=1710344643928") format("woff2"),
  url("slc.woff?t=1710344643928") format("woff"),
  url('slc.ttf?t=1710344643928') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('slc.svg?t=1710344643928#slc') format('svg'); /* iOS 4.1- */
}

[class^="slc-"], [class*=" slc-"] {
  font-family: 'slc' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.slc-activity:before { content: "\ea01"; }
.slc-airplay:before { content: "\ea02"; }
.slc-alert-circle:before { content: "\ea03"; }
.slc-alert-octagon:before { content: "\ea04"; }
.slc-alert-triangle:before { content: "\ea05"; }
.slc-align-center:before { content: "\ea06"; }
.slc-align-justify:before { content: "\ea07"; }
.slc-align-left:before { content: "\ea08"; }
.slc-align-right:before { content: "\ea09"; }
.slc-anchor:before { content: "\ea0a"; }
.slc-aperture:before { content: "\ea0b"; }
.slc-archive:before { content: "\ea0c"; }
.slc-arrow-down-circle:before { content: "\ea0d"; }
.slc-arrow-down-left:before { content: "\ea0e"; }
.slc-arrow-down-right:before { content: "\ea0f"; }
.slc-arrow-down:before { content: "\ea10"; }
.slc-arrow-left-circle:before { content: "\ea11"; }
.slc-arrow-left:before { content: "\ea12"; }
.slc-arrow-right-circle:before { content: "\ea13"; }
.slc-arrow-right:before { content: "\ea14"; }
.slc-arrow-up-circle:before { content: "\ea15"; }
.slc-arrow-up-left:before { content: "\ea16"; }
.slc-arrow-up-right:before { content: "\ea17"; }
.slc-arrow-up:before { content: "\ea18"; }
.slc-at-sign:before { content: "\ea19"; }
.slc-award:before { content: "\ea1a"; }
.slc-bar-chart-2:before { content: "\ea1b"; }
.slc-bar-chart:before { content: "\ea1c"; }
.slc-battery-charging:before { content: "\ea1d"; }
.slc-battery:before { content: "\ea1e"; }
.slc-bell-off:before { content: "\ea1f"; }
.slc-bell:before { content: "\ea20"; }
.slc-bluetooth:before { content: "\ea21"; }
.slc-bold:before { content: "\ea22"; }
.slc-book-open:before { content: "\ea23"; }
.slc-book:before { content: "\ea24"; }
.slc-bookmark:before { content: "\ea25"; }
.slc-box:before { content: "\ea26"; }
.slc-briefcase:before { content: "\ea27"; }
.slc-calendar:before { content: "\ea28"; }
.slc-camera-off:before { content: "\ea29"; }
.slc-camera:before { content: "\ea2a"; }
.slc-cast:before { content: "\ea2b"; }
.slc-check-circle:before { content: "\ea2c"; }
.slc-check-square:before { content: "\ea2d"; }
.slc-check:before { content: "\ea2e"; }
.slc-chevron-down:before { content: "\ea2f"; }
.slc-chevron-left:before { content: "\ea30"; }
.slc-chevron-right:before { content: "\ea31"; }
.slc-chevron-up:before { content: "\ea32"; }
.slc-chevrons-down:before { content: "\ea33"; }
.slc-chevrons-left:before { content: "\ea34"; }
.slc-chevrons-right:before { content: "\ea35"; }
.slc-chevrons-up:before { content: "\ea36"; }
.slc-chrome:before { content: "\ea37"; }
.slc-circle:before { content: "\ea38"; }
.slc-clipboard:before { content: "\ea39"; }
.slc-clock:before { content: "\ea3a"; }
.slc-cloud-drizzle:before { content: "\ea3b"; }
.slc-cloud-lightning:before { content: "\ea3c"; }
.slc-cloud-off:before { content: "\ea3d"; }
.slc-cloud-rain:before { content: "\ea3e"; }
.slc-cloud-snow:before { content: "\ea3f"; }
.slc-cloud:before { content: "\ea40"; }
.slc-code:before { content: "\ea41"; }
.slc-codepen:before { content: "\ea42"; }
.slc-codesandbox:before { content: "\ea43"; }
.slc-coffee:before { content: "\ea44"; }
.slc-columns:before { content: "\ea45"; }
.slc-command:before { content: "\ea46"; }
.slc-compass:before { content: "\ea47"; }
.slc-copy:before { content: "\ea48"; }
.slc-corner-down-left:before { content: "\ea49"; }
.slc-corner-down-right:before { content: "\ea4a"; }
.slc-corner-left-down:before { content: "\ea4b"; }
.slc-corner-left-up:before { content: "\ea4c"; }
.slc-corner-right-down:before { content: "\ea4d"; }
.slc-corner-right-up:before { content: "\ea4e"; }
.slc-corner-up-left:before { content: "\ea4f"; }
.slc-corner-up-right:before { content: "\ea50"; }
.slc-cpu:before { content: "\ea51"; }
.slc-credit-card:before { content: "\ea52"; }
.slc-crop:before { content: "\ea53"; }
.slc-crosshair:before { content: "\ea54"; }
.slc-database:before { content: "\ea55"; }
.slc-delete:before { content: "\ea56"; }
.slc-disc:before { content: "\ea57"; }
.slc-divide-circle:before { content: "\ea58"; }
.slc-divide-square:before { content: "\ea59"; }
.slc-divide:before { content: "\ea5a"; }
.slc-dollar-sign:before { content: "\ea5b"; }
.slc-download-cloud:before { content: "\ea5c"; }
.slc-download:before { content: "\ea5d"; }
.slc-dribbble:before { content: "\ea5e"; }
.slc-droplet:before { content: "\ea5f"; }
.slc-edit-2:before { content: "\ea60"; }
.slc-edit-3:before { content: "\ea61"; }
.slc-edit:before { content: "\ea62"; }
.slc-external-link:before { content: "\ea63"; }
.slc-eye-off:before { content: "\ea64"; }
.slc-eye:before { content: "\ea65"; }
.slc-facebook:before { content: "\ea66"; }
.slc-fast-forward:before { content: "\ea67"; }
.slc-feather:before { content: "\ea68"; }
.slc-figma:before { content: "\ea69"; }
.slc-file-minus:before { content: "\ea6a"; }
.slc-file-plus:before { content: "\ea6b"; }
.slc-file-text:before { content: "\ea6c"; }
.slc-file:before { content: "\ea6d"; }
.slc-film:before { content: "\ea6e"; }
.slc-filter:before { content: "\ea6f"; }
.slc-flag:before { content: "\ea70"; }
.slc-folder-minus:before { content: "\ea71"; }
.slc-folder-plus:before { content: "\ea72"; }
.slc-folder:before { content: "\ea73"; }
.slc-framer:before { content: "\ea74"; }
.slc-frown:before { content: "\ea75"; }
.slc-gift:before { content: "\ea76"; }
.slc-git-branch:before { content: "\ea77"; }
.slc-git-commit:before { content: "\ea78"; }
.slc-git-merge:before { content: "\ea79"; }
.slc-git-pull-request:before { content: "\ea7a"; }
.slc-github:before { content: "\ea7b"; }
.slc-gitlab:before { content: "\ea7c"; }
.slc-globe:before { content: "\ea7d"; }
.slc-grid:before { content: "\ea7e"; }
.slc-hard-drive:before { content: "\ea7f"; }
.slc-hash:before { content: "\ea80"; }
.slc-headphones:before { content: "\ea81"; }
.slc-heart:before { content: "\ea82"; }
.slc-help-circle:before { content: "\ea83"; }
.slc-hexagon:before { content: "\ea84"; }
.slc-home:before { content: "\ea85"; }
.slc-image:before { content: "\ea86"; }
.slc-inbox:before { content: "\ea87"; }
.slc-info:before { content: "\ea88"; }
.slc-instagram:before { content: "\ea89"; }
.slc-italic:before { content: "\ea8a"; }
.slc-key:before { content: "\ea8b"; }
.slc-layers:before { content: "\ea8c"; }
.slc-layout:before { content: "\ea8d"; }
.slc-life-buoy:before { content: "\ea8e"; }
.slc-link-2:before { content: "\ea8f"; }
.slc-link:before { content: "\ea90"; }
.slc-linkedin:before { content: "\ea91"; }
.slc-list:before { content: "\ea92"; }
.slc-loader:before { content: "\ea93"; }
.slc-lock:before { content: "\ea94"; }
.slc-log-in:before { content: "\ea95"; }
.slc-log-out:before { content: "\ea96"; }
.slc-mail:before { content: "\ea97"; }
.slc-map-pin:before { content: "\ea98"; }
.slc-map:before { content: "\ea99"; }
.slc-maximize-2:before { content: "\ea9a"; }
.slc-maximize:before { content: "\ea9b"; }
.slc-meh:before { content: "\ea9c"; }
.slc-menu:before { content: "\ea9d"; }
.slc-message-circle:before { content: "\ea9e"; }
.slc-message-square:before { content: "\ea9f"; }
.slc-mic-off:before { content: "\eaa0"; }
.slc-mic:before { content: "\eaa1"; }
.slc-minimize-2:before { content: "\eaa2"; }
.slc-minimize:before { content: "\eaa3"; }
.slc-minus-circle:before { content: "\eaa4"; }
.slc-minus-square:before { content: "\eaa5"; }
.slc-minus:before { content: "\eaa6"; }
.slc-monitor:before { content: "\eaa7"; }
.slc-moon:before { content: "\eaa8"; }
.slc-more-horizontal:before { content: "\eaa9"; }
.slc-more-vertical:before { content: "\eaaa"; }
.slc-mouse-pointer:before { content: "\eaab"; }
.slc-move:before { content: "\eaac"; }
.slc-music:before { content: "\eaad"; }
.slc-navigation-2:before { content: "\eaae"; }
.slc-navigation:before { content: "\eaaf"; }
.slc-octagon:before { content: "\eab0"; }
.slc-package:before { content: "\eab1"; }
.slc-paperclip:before { content: "\eab2"; }
.slc-pause-circle:before { content: "\eab3"; }
.slc-pause:before { content: "\eab4"; }
.slc-pen-tool:before { content: "\eab5"; }
.slc-percent:before { content: "\eab6"; }
.slc-phone-call:before { content: "\eab7"; }
.slc-phone-forwarded:before { content: "\eab8"; }
.slc-phone-incoming:before { content: "\eab9"; }
.slc-phone-missed:before { content: "\eaba"; }
.slc-phone-off:before { content: "\eabb"; }
.slc-phone-outgoing:before { content: "\eabc"; }
.slc-phone:before { content: "\eabd"; }
.slc-pie-chart:before { content: "\eabe"; }
.slc-play-circle:before { content: "\eabf"; }
.slc-play:before { content: "\eac0"; }
.slc-plus-circle:before { content: "\eac1"; }
.slc-plus-square:before { content: "\eac2"; }
.slc-plus:before { content: "\eac3"; }
.slc-pocket:before { content: "\eac4"; }
.slc-power:before { content: "\eac5"; }
.slc-printer:before { content: "\eac6"; }
.slc-radio:before { content: "\eac7"; }
.slc-refresh-ccw:before { content: "\eac8"; }
.slc-refresh-cw:before { content: "\eac9"; }
.slc-repeat:before { content: "\eaca"; }
.slc-rewind:before { content: "\eacb"; }
.slc-rotate-ccw:before { content: "\eacc"; }
.slc-rotate-cw:before { content: "\eacd"; }
.slc-rss:before { content: "\eace"; }
.slc-save:before { content: "\eacf"; }
.slc-scissors:before { content: "\ead0"; }
.slc-search:before { content: "\ead1"; }
.slc-send:before { content: "\ead2"; }
.slc-server:before { content: "\ead3"; }
.slc-settings:before { content: "\ead4"; }
.slc-share-2:before { content: "\ead5"; }
.slc-share:before { content: "\ead6"; }
.slc-shield-off:before { content: "\ead7"; }
.slc-shield:before { content: "\ead8"; }
.slc-shopping-bag:before { content: "\ead9"; }
.slc-shopping-cart:before { content: "\eada"; }
.slc-shuffle:before { content: "\eadb"; }
.slc-sidebar:before { content: "\eadc"; }
.slc-skip-back:before { content: "\eadd"; }
.slc-skip-forward:before { content: "\eade"; }
.slc-slack:before { content: "\eadf"; }
.slc-slash:before { content: "\eae0"; }
.slc-sliders:before { content: "\eae1"; }
.slc-smartphone:before { content: "\eae2"; }
.slc-smile:before { content: "\eae3"; }
.slc-speaker:before { content: "\eae4"; }
.slc-square:before { content: "\eae5"; }
.slc-star:before { content: "\eae6"; }
.slc-stop-circle:before { content: "\eae7"; }
.slc-sun:before { content: "\eae8"; }
.slc-sunrise:before { content: "\eae9"; }
.slc-sunset:before { content: "\eaea"; }
.slc-table:before { content: "\eaeb"; }
.slc-tablet:before { content: "\eaec"; }
.slc-tag:before { content: "\eaed"; }
.slc-target:before { content: "\eaee"; }
.slc-terminal:before { content: "\eaef"; }
.slc-thermometer:before { content: "\eaf0"; }
.slc-thumbs-down:before { content: "\eaf1"; }
.slc-thumbs-up:before { content: "\eaf2"; }
.slc-toggle-left:before { content: "\eaf3"; }
.slc-toggle-right:before { content: "\eaf4"; }
.slc-tool:before { content: "\eaf5"; }
.slc-trash-2:before { content: "\eaf6"; }
.slc-trash:before { content: "\eaf7"; }
.slc-trello:before { content: "\eaf8"; }
.slc-trending-down:before { content: "\eaf9"; }
.slc-trending-up:before { content: "\eafa"; }
.slc-triangle:before { content: "\eafb"; }
.slc-truck:before { content: "\eafc"; }
.slc-tv:before { content: "\eafd"; }
.slc-twitch:before { content: "\eafe"; }
.slc-twitter:before { content: "\eaff"; }
.slc-type:before { content: "\eb00"; }
.slc-umbrella:before { content: "\eb01"; }
.slc-underline:before { content: "\eb02"; }
.slc-unlock:before { content: "\eb03"; }
.slc-upload-cloud:before { content: "\eb04"; }
.slc-upload:before { content: "\eb05"; }
.slc-user-check:before { content: "\eb06"; }
.slc-user-minus:before { content: "\eb07"; }
.slc-user-plus:before { content: "\eb08"; }
.slc-user-x:before { content: "\eb09"; }
.slc-user:before { content: "\eb0a"; }
.slc-users:before { content: "\eb0b"; }
.slc-video-off:before { content: "\eb0c"; }
.slc-video:before { content: "\eb0d"; }
.slc-voicemail:before { content: "\eb0e"; }
.slc-volume-1:before { content: "\eb0f"; }
.slc-volume-2:before { content: "\eb10"; }
.slc-volume-x:before { content: "\eb11"; }
.slc-volume:before { content: "\eb12"; }
.slc-watch:before { content: "\eb13"; }
.slc-wifi-off:before { content: "\eb14"; }
.slc-wifi:before { content: "\eb15"; }
.slc-wind:before { content: "\eb16"; }
.slc-x-circle:before { content: "\eb17"; }
.slc-x-octagon:before { content: "\eb18"; }
.slc-x-square:before { content: "\eb19"; }
.slc-x:before { content: "\eb1a"; }
.slc-youtube:before { content: "\eb1b"; }
.slc-zap-off:before { content: "\eb1c"; }
.slc-zap:before { content: "\eb1d"; }
.slc-zoom-in:before { content: "\eb1e"; }
.slc-zoom-out:before { content: "\eb1f"; }

