@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --border-radius-slice: 5px;
  --slice-border: 1px;
}
body {
  background-color: var(--primary-background-color);
}
