.slice_dropdown_label {
  cursor: default;
}
.slice_dropdown {
  user-select: none;
  display: flex;
  justify-content: center;
  display: flex;
  border-radius: var(--border-radius-slice);
  border: var(--slice-border) solid var(--primary-color);
  align-items: center;
}
.slice_dropdown .caret {
  margin-left: 10px;
  border-top-color: var(--primary-color-contrast);
}
.slice_dropdown_menu {
  border: var(--slice-border) solid var(--primary-color);
  list-style: none;
  font-family: var(--font-family);
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transition: 0s, opacity 0.3s;
  top: 100%;
  z-index: 1;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-slice);
  box-shadow: 0 0 10px 0 #00000050;
  div {
    color: var(--font-primary-color);
    cursor: pointer;
    padding: 10px;
    &:hover {
      color: var(--secondary-color-contrast);
      background-color: var(--secondary-color);
    }
  }
}
.dropdown_menu_open {
  overflow-y: scroll;
  min-height: min-content;
  max-height: 200px;
  visibility: visible;
  opacity: 1;
}
.dropdown_menu_open::-webkit-scrollbar {
  width: 5px;
}
.dropdown_menu_open::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--border-radius-slice);
}
