@font-face {
  font-family: "slc";
  src: url('../../../../Slice/Components/Visual/Icon/slc.eot?t=1711558431511');
  /* IE9*/
  src: url('../../../../Slice/Components/Visual/Icon/slc.eot?t=1711558431511#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url("../../../../Slice/Components/Visual/Icon/slc.woff2?t=1711558431511") format("woff2"),
    url("../../../../Slice/Components/Visual/Icon/slc.woff?t=1711558431511") format("woff"),
    url('../../../../Slice/Components/Visual/Icon/slc.ttf?t=1711558431511') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../../../Slice/Components/Visual/Icon/slc.svg?t=1711558431511#slc') format('svg');
  /* iOS 4.1- */
}

[class^="slc-"],
[class*=" slc-"] {
  font-family: 'slc' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.slc-filaddress-book:before {
  content: "\ea01";
}

.slc-filadjustments-horizontal:before {
  content: "\ea02";
}

.slc-filadjustments-vertical:before {
  content: "\ea03";
}

.slc-filannotation:before {
  content: "\ea04";
}

.slc-filapple:before {
  content: "\ea05";
}

.slc-filarchive-arrow-down:before {
  content: "\ea06";
}

.slc-filarchive:before {
  content: "\ea07";
}

.slc-filarrow-right-alt:before {
  content: "\ea08";
}

.slc-filarrow-up-right-from-square:before {
  content: "\ea09";
}

.slc-filbackward-step:before {
  content: "\ea0a";
}

.slc-filbadge-check:before {
  content: "\ea0b";
}

.slc-filbell-active-alt:before {
  content: "\ea0c";
}

.slc-filbell-active:before {
  content: "\ea0d";
}

.slc-filbell-ring:before {
  content: "\ea0e";
}

.slc-filbell:before {
  content: "\ea0f";
}

.slc-filblender-phone:before {
  content: "\ea10";
}

.slc-filbook-open:before {
  content: "\ea11";
}

.slc-filbook:before {
  content: "\ea12";
}

.slc-filbookmark:before {
  content: "\ea13";
}

.slc-filbrain:before {
  content: "\ea14";
}

.slc-filbriefcase:before {
  content: "\ea15";
}

.slc-filbug:before {
  content: "\ea16";
}

.slc-filbuilding:before {
  content: "\ea17";
}

.slc-filbullhorn:before {
  content: "\ea18";
}

.slc-filcalendar-edit:before {
  content: "\ea19";
}

.slc-filcalendar-month:before {
  content: "\ea1a";
}

.slc-filcalendar-plus:before {
  content: "\ea1b";
}

.slc-filcalendar-week:before {
  content: "\ea1c";
}

.slc-filcamera-photo:before {
  content: "\ea1d";
}

.slc-filcaption:before {
  content: "\ea1e";
}

.slc-filcaret-down:before {
  content: "\ea1f";
}

.slc-filcaret-left:before {
  content: "\ea20";
}

.slc-filcaret-right:before {
  content: "\ea21";
}

.slc-filcaret-sort:before {
  content: "\ea22";
}

.slc-filcaret-up:before {
  content: "\ea23";
}

.slc-filcart-plus-alt:before {
  content: "\ea24";
}

.slc-filcart-plus:before {
  content: "\ea25";
}

.slc-filcart:before {
  content: "\ea26";
}

.slc-filcash:before {
  content: "\ea27";
}

.slc-filchart-mixed-dollar:before {
  content: "\ea28";
}

.slc-filchart-pie:before {
  content: "\ea29";
}

.slc-filcheck-circle:before {
  content: "\ea2a";
}

.slc-filcheck-plus-circle:before {
  content: "\ea2b";
}

.slc-filcircle-pause:before {
  content: "\ea2c";
}

.slc-filcircle-plus:before {
  content: "\ea2d";
}

.slc-filclapperboard-play:before {
  content: "\ea2e";
}

.slc-filclipboard-check:before {
  content: "\ea2f";
}

.slc-filclipboard-list:before {
  content: "\ea30";
}

.slc-filclipboard:before {
  content: "\ea31";
}

.slc-filclock:before {
  content: "\ea32";
}

.slc-filclose-circle:before {
  content: "\ea33";
}

.slc-filcloud-arrow-up:before {
  content: "\ea34";
}

.slc-filcode-branch:before {
  content: "\ea35";
}

.slc-filcode-fork:before {
  content: "\ea36";
}

.slc-filcode-merge:before {
  content: "\ea37";
}

.slc-filcode-pull-request:before {
  content: "\ea38";
}

.slc-filcog:before {
  content: "\ea39";
}

.slc-filcolumn:before {
  content: "\ea3a";
}

.slc-filcomputer-speaker:before {
  content: "\ea3b";
}

.slc-filcredit-card:before {
  content: "\ea3c";
}

.slc-filcss:before {
  content: "\ea3d";
}

.slc-fildatabase:before {
  content: "\ea3e";
}

.slc-fildesktop-pc:before {
  content: "\ea3f";
}

.slc-fildiscord:before {
  content: "\ea40";
}

.slc-fildownload:before {
  content: "\ea41";
}

.slc-fildraw-square:before {
  content: "\ea42";
}

.slc-fildribbble:before {
  content: "\ea43";
}

.slc-fildropbox:before {
  content: "\ea44";
}

.slc-filedit:before {
  content: "\ea45";
}

.slc-filenvelope-open:before {
  content: "\ea46";
}

.slc-filenvelope:before {
  content: "\ea47";
}

.slc-filexclamation-circle:before {
  content: "\ea48";
}

.slc-fileye-slash:before {
  content: "\ea49";
}

.slc-fileye:before {
  content: "\ea4a";
}

.slc-filface-explode:before {
  content: "\ea4b";
}

.slc-filface-grin-stars:before {
  content: "\ea4c";
}

.slc-filface-grin:before {
  content: "\ea4d";
}

.slc-filface-laugh:before {
  content: "\ea4e";
}

.slc-filfacebook:before {
  content: "\ea4f";
}

.slc-filfile-chart-bar:before {
  content: "\ea50";
}

.slc-filfile-check:before {
  content: "\ea51";
}

.slc-filfile-circle-plus:before {
  content: "\ea52";
}

.slc-filfile-clone:before {
  content: "\ea53";
}

.slc-filfile-code:before {
  content: "\ea54";
}

.slc-filfile-copy-alt:before {
  content: "\ea55";
}

.slc-filfile-copy:before {
  content: "\ea56";
}

.slc-filfile-csv:before {
  content: "\ea57";
}

.slc-filfile-export:before {
  content: "\ea58";
}

.slc-filfile-image:before {
  content: "\ea59";
}

.slc-filfile-import:before {
  content: "\ea5a";
}

.slc-filfile-invoice:before {
  content: "\ea5b";
}

.slc-filfile-lines:before {
  content: "\ea5c";
}

.slc-filfile-music:before {
  content: "\ea5d";
}

.slc-filfile-paste:before {
  content: "\ea5e";
}

.slc-filfile-pdf:before {
  content: "\ea5f";
}

.slc-filfile-pen:before {
  content: "\ea60";
}

.slc-filfile-ppt:before {
  content: "\ea61";
}

.slc-filfile-search:before {
  content: "\ea62";
}

.slc-filfile-shield:before {
  content: "\ea63";
}

.slc-filfile-video:before {
  content: "\ea64";
}

.slc-filfile-word:before {
  content: "\ea65";
}

.slc-filfile-zip:before {
  content: "\ea66";
}

.slc-filfile:before {
  content: "\ea67";
}

.slc-filfilter:before {
  content: "\ea68";
}

.slc-filfire:before {
  content: "\ea69";
}

.slc-filflag:before {
  content: "\ea6a";
}

.slc-filflowbite:before {
  content: "\ea6b";
}

.slc-filfolder-arrow-right:before {
  content: "\ea6c";
}

.slc-filfolder-duplicate:before {
  content: "\ea6d";
}

.slc-filfolder-open:before {
  content: "\ea6e";
}

.slc-filfolder-plus:before {
  content: "\ea6f";
}

.slc-filfolder:before {
  content: "\ea70";
}

.slc-filforward-step:before {
  content: "\ea71";
}

.slc-filforward:before {
  content: "\ea72";
}

.slc-filgift-box:before {
  content: "\ea73";
}

.slc-filgithub:before {
  content: "\ea74";
}

.slc-filglobe:before {
  content: "\ea75";
}

.slc-filgoogle:before {
  content: "\ea76";
}

.slc-filgrid-plus:before {
  content: "\ea77";
}

.slc-filgrid:before {
  content: "\ea78";
}

.slc-filheadphones:before {
  content: "\ea79";
}

.slc-filheart:before {
  content: "\ea7a";
}

.slc-filhome:before {
  content: "\ea7b";
}

.slc-filhourglass:before {
  content: "\ea7c";
}

.slc-filhtml:before {
  content: "\ea7d";
}

.slc-filimage:before {
  content: "\ea7e";
}

.slc-filinbox-full:before {
  content: "\ea7f";
}

.slc-filinbox:before {
  content: "\ea80";
}

.slc-filindent:before {
  content: "\ea81";
}

.slc-filinfo-circle:before {
  content: "\ea82";
}

.slc-filkeyboard:before {
  content: "\ea83";
}

.slc-fillabel:before {
  content: "\ea84";
}

.slc-fillandmark:before {
  content: "\ea85";
}

.slc-fillayers:before {
  content: "\ea86";
}

.slc-fillife-saver:before {
  content: "\ea87";
}

.slc-fillightbulb:before {
  content: "\ea88";
}

.slc-fillinkedin:before {
  content: "\ea89";
}

.slc-fillist-music:before {
  content: "\ea8a";
}

.slc-fillock-open:before {
  content: "\ea8b";
}

.slc-fillock-time:before {
  content: "\ea8c";
}

.slc-fillock:before {
  content: "\ea8d";
}

.slc-filmail-box:before {
  content: "\ea8e";
}

.slc-filmap-pin-alt:before {
  content: "\ea8f";
}

.slc-filmap-pin:before {
  content: "\ea90";
}

.slc-filmessage-caption:before {
  content: "\ea91";
}

.slc-filmessage-dots:before {
  content: "\ea92";
}

.slc-filmessages:before {
  content: "\ea93";
}

.slc-filmicrophone:before {
  content: "\ea94";
}

.slc-filmobile-phone:before {
  content: "\ea95";
}

.slc-filmoon:before {
  content: "\ea96";
}

.slc-filnewspaper:before {
  content: "\ea97";
}

.slc-filnpm:before {
  content: "\ea98";
}

.slc-filoutdent:before {
  content: "\ea99";
}

.slc-filpalette:before {
  content: "\ea9a";
}

.slc-filpaper-plane:before {
  content: "\ea9b";
}

.slc-filparagraph:before {
  content: "\ea9c";
}

.slc-filpause:before {
  content: "\ea9d";
}

.slc-filpen-nib:before {
  content: "\ea9e";
}

.slc-filpen:before {
  content: "\ea9f";
}

.slc-filphone:before {
  content: "\eaa0";
}

.slc-filplay:before {
  content: "\eaa1";
}

.slc-filprinter:before {
  content: "\eaa2";
}

.slc-filprofile-card:before {
  content: "\eaa3";
}

.slc-filquestion-circle:before {
  content: "\eaa4";
}

.slc-filquote:before {
  content: "\eaa5";
}

.slc-filreact:before {
  content: "\eaa6";
}

.slc-filreceipt:before {
  content: "\eaa7";
}

.slc-filrectangle-list:before {
  content: "\eaa8";
}

.slc-filreply-all:before {
  content: "\eaa9";
}

.slc-filreply:before {
  content: "\eaaa";
}

.slc-filrocket:before {
  content: "\eaab";
}

.slc-filsale-percent:before {
  content: "\eaac";
}

.slc-filscale-balanced:before {
  content: "\eaad";
}

.slc-filsearch:before {
  content: "\eaae";
}

.slc-filshare-all:before {
  content: "\eaaf";
}

.slc-filshare-nodes:before {
  content: "\eab0";
}

.slc-filshield-check:before {
  content: "\eab1";
}

.slc-filshield:before {
  content: "\eab2";
}

.slc-filshopping-bag:before {
  content: "\eab3";
}

.slc-filstackoverflow:before {
  content: "\eab4";
}

.slc-filstar-half-stroke:before {
  content: "\eab5";
}

.slc-filstar-half:before {
  content: "\eab6";
}

.slc-filstar:before {
  content: "\eab7";
}

.slc-filstore:before {
  content: "\eab8";
}

.slc-filsun:before {
  content: "\eab9";
}

.slc-filswatchbook:before {
  content: "\eaba";
}

.slc-filtable-column:before {
  content: "\eabb";
}

.slc-filtable-row:before {
  content: "\eabc";
}

.slc-filtablet:before {
  content: "\eabd";
}

.slc-filtag:before {
  content: "\eabe";
}

.slc-filtailwind:before {
  content: "\eabf";
}

.slc-filterminal:before {
  content: "\eac0";
}

.slc-filthumbs-down:before {
  content: "\eac1";
}

.slc-filthumbs-up:before {
  content: "\eac2";
}

.slc-filticket:before {
  content: "\eac3";
}

.slc-filtrash-bin:before {
  content: "\eac4";
}

.slc-filtruck:before {
  content: "\eac5";
}

.slc-filtwitter:before {
  content: "\eac6";
}

.slc-filupload:before {
  content: "\eac7";
}

.slc-filuser-add:before {
  content: "\eac8";
}

.slc-filuser-circle:before {
  content: "\eac9";
}

.slc-filuser-edit:before {
  content: "\eaca";
}

.slc-filuser-headset:before {
  content: "\eacb";
}

.slc-filuser-remove:before {
  content: "\eacc";
}

.slc-filuser-settings:before {
  content: "\eacd";
}

.slc-filuser:before {
  content: "\eace";
}

.slc-filusers-group:before {
  content: "\eacf";
}

.slc-filusers:before {
  content: "\ead0";
}

.slc-filvideo-camera:before {
  content: "\ead1";
}

.slc-filvolume-down:before {
  content: "\ead2";
}

.slc-filvolume-up:before {
  content: "\ead3";
}

.slc-filvue:before {
  content: "\ead4";
}

.slc-filwallet:before {
  content: "\ead5";
}

.slc-filwand-magic-sparkles:before {
  content: "\ead6";
}

.slc-filwindow-restore:before {
  content: "\ead7";
}

.slc-filwindow:before {
  content: "\ead8";
}

.slc-filX:before {
  content: "\ead9";
}

.slc-filyoutube:before {
  content: "\eada";
}

.slc-filzoom-in:before {
  content: "\eadb";
}

.slc-filzoom-out:before {
  content: "\eadc";
}

.slc-outaddress-book:before {
  content: "\eadd";
}

.slc-outadjustments-horizontal:before {
  content: "\eade";
}

.slc-outadjustments-vertical:before {
  content: "\eadf";
}

.slc-outalign-center:before {
  content: "\eae0";
}

.slc-outangle-down:before {
  content: "\eae1";
}

.slc-outangle-left:before {
  content: "\eae2";
}

.slc-outangle-right:before {
  content: "\eae3";
}

.slc-outangle-up:before {
  content: "\eae4";
}

.slc-outannotation:before {
  content: "\eae5";
}

.slc-outarchive-arrow-down:before {
  content: "\eae6";
}

.slc-outarchive:before {
  content: "\eae7";
}

.slc-outarrow-down-to-bracket:before {
  content: "\eae8";
}

.slc-outarrow-down:before {
  content: "\eae9";
}

.slc-outarrow-left-to-bracket:before {
  content: "\eaea";
}

.slc-outarrow-left:before {
  content: "\eaeb";
}

.slc-outarrow-right-alt:before {
  content: "\eaec";
}

.slc-outarrow-right-to-bracket:before {
  content: "\eaed";
}

.slc-outarrow-right:before {
  content: "\eaee";
}

.slc-outarrow-sort-letters:before {
  content: "\eaef";
}

.slc-outarrow-up-down:before {
  content: "\eaf0";
}

.slc-outarrow-up-from-bracket:before {
  content: "\eaf1";
}

.slc-outarrow-up-right-down-left:before {
  content: "\eaf2";
}

.slc-outarrow-up-right-from-square:before {
  content: "\eaf3";
}

.slc-outarrow-up:before {
  content: "\eaf4";
}

.slc-outarrows-repeat-count:before {
  content: "\eaf5";
}

.slc-outarrows-repeat:before {
  content: "\eaf6";
}

.slc-outatom:before {
  content: "\eaf7";
}

.slc-outbackward-step:before {
  content: "\eaf8";
}

.slc-outbadge-check:before {
  content: "\eaf9";
}

.slc-outbars-from-left:before {
  content: "\eafa";
}

.slc-outbars:before {
  content: "\eafb";
}

.slc-outbell-active-alt:before {
  content: "\eafc";
}

.slc-outbell-active:before {
  content: "\eafd";
}

.slc-outbell-ring:before {
  content: "\eafe";
}

.slc-outbell:before {
  content: "\eaff";
}

.slc-outblender-phone:before {
  content: "\eb00";
}

.slc-outbook-open:before {
  content: "\eb01";
}

.slc-outbook:before {
  content: "\eb02";
}

.slc-outbookmark:before {
  content: "\eb03";
}

.slc-outbrain:before {
  content: "\eb04";
}

.slc-outbriefcase:before {
  content: "\eb05";
}

.slc-outbug:before {
  content: "\eb06";
}

.slc-outbuilding:before {
  content: "\eb07";
}

.slc-outbullhorn:before {
  content: "\eb08";
}

.slc-outcalendar-edit:before {
  content: "\eb09";
}

.slc-outcalendar-month:before {
  content: "\eb0a";
}

.slc-outcalendar-plus:before {
  content: "\eb0b";
}

.slc-outcalendar-week:before {
  content: "\eb0c";
}

.slc-outcamera-photo:before {
  content: "\eb0d";
}

.slc-outcaption:before {
  content: "\eb0e";
}

.slc-outcaret-down:before {
  content: "\eb0f";
}

.slc-outcaret-left:before {
  content: "\eb10";
}

.slc-outcaret-right:before {
  content: "\eb11";
}

.slc-outcaret-sort:before {
  content: "\eb12";
}

.slc-outcaret-up:before {
  content: "\eb13";
}

.slc-outcart-plus-alt:before {
  content: "\eb14";
}

.slc-outcart-plus:before {
  content: "\eb15";
}

.slc-outcart:before {
  content: "\eb16";
}

.slc-outcash:before {
  content: "\eb17";
}

.slc-outchart-line-down:before {
  content: "\eb18";
}

.slc-outchart-line-up:before {
  content: "\eb19";
}

.slc-outchart-mixed-dollar:before {
  content: "\eb1a";
}

.slc-outchart-mixed:before {
  content: "\eb1b";
}

.slc-outchart-pie:before {
  content: "\eb1c";
}

.slc-outchart:before {
  content: "\eb1d";
}

.slc-outcheck-circle:before {
  content: "\eb1e";
}

.slc-outcheck-plus-circle:before {
  content: "\eb1f";
}

.slc-outcheck:before {
  content: "\eb20";
}

.slc-outchevron-double-down:before {
  content: "\eb21";
}

.slc-outchevron-double-left:before {
  content: "\eb22";
}

.slc-outchevron-double-right:before {
  content: "\eb23";
}

.slc-outchevron-double-up:before {
  content: "\eb24";
}

.slc-outchevron-down:before {
  content: "\eb25";
}

.slc-outchevron-left:before {
  content: "\eb26";
}

.slc-outchevron-right:before {
  content: "\eb27";
}

.slc-outchevron-sort:before {
  content: "\eb28";
}

.slc-outchevron-up:before {
  content: "\eb29";
}

.slc-outcircle-pause:before {
  content: "\eb2a";
}

.slc-outcircle-plus:before {
  content: "\eb2b";
}

.slc-outclapperboard-play:before {
  content: "\eb2c";
}

.slc-outclipboard-check:before {
  content: "\eb2d";
}

.slc-outclipboard-list:before {
  content: "\eb2e";
}

.slc-outclipboard:before {
  content: "\eb2f";
}

.slc-outclock:before {
  content: "\eb30";
}

.slc-outclose-circle:before {
  content: "\eb31";
}

.slc-outclose:before {
  content: "\eb32";
}

.slc-outcloud-arrow-up:before {
  content: "\eb33";
}

.slc-outcode-branch:before {
  content: "\eb34";
}

.slc-outcode-fork:before {
  content: "\eb35";
}

.slc-outcode-merge:before {
  content: "\eb36";
}

.slc-outcode-pull-request:before {
  content: "\eb37";
}

.slc-outcode:before {
  content: "\eb38";
}

.slc-outcog:before {
  content: "\eb39";
}

.slc-outcolumn:before {
  content: "\eb3a";
}

.slc-outcommand:before {
  content: "\eb3b";
}

.slc-outcompress:before {
  content: "\eb3c";
}

.slc-outcomputer-speaker:before {
  content: "\eb3d";
}

.slc-outcredit-card:before {
  content: "\eb3e";
}

.slc-outdatabase:before {
  content: "\eb3f";
}

.slc-outdesktop-pc:before {
  content: "\eb40";
}

.slc-outdna:before {
  content: "\eb41";
}

.slc-outdollar:before {
  content: "\eb42";
}

.slc-outdots-horizontal:before {
  content: "\eb43";
}

.slc-outdots-vertical:before {
  content: "\eb44";
}

.slc-outdownload:before {
  content: "\eb45";
}

.slc-outdraw-square:before {
  content: "\eb46";
}

.slc-outedit:before {
  content: "\eb47";
}

.slc-outenvelope-open:before {
  content: "\eb48";
}

.slc-outenvelope:before {
  content: "\eb49";
}

.slc-outeuro:before {
  content: "\eb4a";
}

.slc-outexclamation-circle:before {
  content: "\eb4b";
}

.slc-outexpand:before {
  content: "\eb4c";
}

.slc-outeye-slash:before {
  content: "\eb4d";
}

.slc-outeye:before {
  content: "\eb4e";
}

.slc-outface-explode:before {
  content: "\eb4f";
}

.slc-outface-grin-stars:before {
  content: "\eb50";
}

.slc-outface-grin:before {
  content: "\eb51";
}

.slc-outface-laugh:before {
  content: "\eb52";
}

.slc-outfile-chart-bar:before {
  content: "\eb53";
}

.slc-outfile-check:before {
  content: "\eb54";
}

.slc-outfile-circle-plus:before {
  content: "\eb55";
}

.slc-outfile-clone:before {
  content: "\eb56";
}

.slc-outfile-code:before {
  content: "\eb57";
}

.slc-outfile-copy-alt:before {
  content: "\eb58";
}

.slc-outfile-copy:before {
  content: "\eb59";
}

.slc-outfile-csv:before {
  content: "\eb5a";
}

.slc-outfile-export:before {
  content: "\eb5b";
}

.slc-outfile-image:before {
  content: "\eb5c";
}

.slc-outfile-import:before {
  content: "\eb5d";
}

.slc-outfile-invoice:before {
  content: "\eb5e";
}

.slc-outfile-lines:before {
  content: "\eb5f";
}

.slc-outfile-music:before {
  content: "\eb60";
}

.slc-outfile-paste:before {
  content: "\eb61";
}

.slc-outfile-pdf:before {
  content: "\eb62";
}

.slc-outfile-pen:before {
  content: "\eb63";
}

.slc-outfile-ppt:before {
  content: "\eb64";
}

.slc-outfile-search:before {
  content: "\eb65";
}

.slc-outfile-shield:before {
  content: "\eb66";
}

.slc-outfile-video:before {
  content: "\eb67";
}

.slc-outfile-word:before {
  content: "\eb68";
}

.slc-outfile-zip:before {
  content: "\eb69";
}

.slc-outfile:before {
  content: "\eb6a";
}

.slc-outfilter:before {
  content: "\eb6b";
}

.slc-outfingerprint:before {
  content: "\eb6c";
}

.slc-outfire:before {
  content: "\eb6d";
}

.slc-outflag:before {
  content: "\eb6e";
}

.slc-outfolder-arrow-right:before {
  content: "\eb6f";
}

.slc-outfolder-duplicate:before {
  content: "\eb70";
}

.slc-outfolder-open:before {
  content: "\eb71";
}

.slc-outfolder-plus:before {
  content: "\eb72";
}

.slc-outfolder:before {
  content: "\eb73";
}

.slc-outforward-step:before {
  content: "\eb74";
}

.slc-outforward:before {
  content: "\eb75";
}

.slc-outgift-box:before {
  content: "\eb76";
}

.slc-outglobe:before {
  content: "\eb77";
}

.slc-outgrid-plus:before {
  content: "\eb78";
}

.slc-outgrid:before {
  content: "\eb79";
}

.slc-outheadphones:before {
  content: "\eb7a";
}

.slc-outheart:before {
  content: "\eb7b";
}

.slc-outhome:before {
  content: "\eb7c";
}

.slc-outhourglass:before {
  content: "\eb7d";
}

.slc-outimage:before {
  content: "\eb7e";
}

.slc-outinbox-full:before {
  content: "\eb7f";
}

.slc-outinbox:before {
  content: "\eb80";
}

.slc-outindent:before {
  content: "\eb81";
}

.slc-outinfo-circle:before {
  content: "\eb82";
}

.slc-outkeyboard:before {
  content: "\eb83";
}

.slc-outlabel:before {
  content: "\eb84";
}

.slc-outlandmark:before {
  content: "\eb85";
}

.slc-outlayers:before {
  content: "\eb86";
}

.slc-outletter-bold:before {
  content: "\eb87";
}

.slc-outletter-italic:before {
  content: "\eb88";
}

.slc-outletter-underline:before {
  content: "\eb89";
}

.slc-outlife-saver:before {
  content: "\eb8a";
}

.slc-outlightbulb:before {
  content: "\eb8b";
}

.slc-outlink:before {
  content: "\eb8c";
}

.slc-outlist-music:before {
  content: "\eb8d";
}

.slc-outlist:before {
  content: "\eb8e";
}

.slc-outlock-open:before {
  content: "\eb8f";
}

.slc-outlock-time:before {
  content: "\eb90";
}

.slc-outlock:before {
  content: "\eb91";
}

.slc-outmail-box:before {
  content: "\eb92";
}

.slc-outmap-pin-alt:before {
  content: "\eb93";
}

.slc-outmap-pin:before {
  content: "\eb94";
}

.slc-outmessage-caption:before {
  content: "\eb95";
}

.slc-outmessage-dots:before {
  content: "\eb96";
}

.slc-outmessages:before {
  content: "\eb97";
}

.slc-outmicrophone:before {
  content: "\eb98";
}

.slc-outminimize:before {
  content: "\eb99";
}

.slc-outminus:before {
  content: "\eb9a";
}

.slc-outmobile-phone:before {
  content: "\eb9b";
}

.slc-outmoon:before {
  content: "\eb9c";
}

.slc-outnewspaper:before {
  content: "\eb9d";
}

.slc-outordered-list:before {
  content: "\eb9e";
}

.slc-outoutdent:before {
  content: "\eb9f";
}

.slc-outpalette:before {
  content: "\eba0";
}

.slc-outpaper-clip:before {
  content: "\eba1";
}

.slc-outpaper-plane:before {
  content: "\eba2";
}

.slc-outparagraph:before {
  content: "\eba3";
}

.slc-outpause:before {
  content: "\eba4";
}

.slc-outpen-nib:before {
  content: "\eba5";
}

.slc-outpen:before {
  content: "\eba6";
}

.slc-outphone:before {
  content: "\eba7";
}

.slc-outplay:before {
  content: "\eba8";
}

.slc-outplus:before {
  content: "\eba9";
}

.slc-outprinter:before {
  content: "\ebaa";
}

.slc-outprofile-card:before {
  content: "\ebab";
}

.slc-outquestion-circle:before {
  content: "\ebac";
}

.slc-outquote:before {
  content: "\ebad";
}

.slc-outreceipt:before {
  content: "\ebae";
}

.slc-outrectangle-list:before {
  content: "\ebaf";
}

.slc-outredo:before {
  content: "\ebb0";
}

.slc-outrefresh:before {
  content: "\ebb1";
}

.slc-outreply-all:before {
  content: "\ebb2";
}

.slc-outreply:before {
  content: "\ebb3";
}

.slc-outrestore-window:before {
  content: "\ebb4";
}

.slc-outrocket:before {
  content: "\ebb5";
}

.slc-outruler-combined:before {
  content: "\ebb6";
}

.slc-outsale-percent:before {
  content: "\ebb7";
}

.slc-outscale-balanced:before {
  content: "\ebb8";
}

.slc-outsearch:before {
  content: "\ebb9";
}

.slc-outshare-all:before {
  content: "\ebba";
}

.slc-outshare-nodes:before {
  content: "\ebbb";
}

.slc-outshield-check:before {
  content: "\ebbc";
}

.slc-outshield:before {
  content: "\ebbd";
}

.slc-outshopping-bag:before {
  content: "\ebbe";
}

.slc-outshuffle:before {
  content: "\ebbf";
}

.slc-outsort-horizontal:before {
  content: "\ebc0";
}

.slc-outsort:before {
  content: "\ebc1";
}

.slc-outstar-half-stroke:before {
  content: "\ebc2";
}

.slc-outstar-half:before {
  content: "\ebc3";
}

.slc-outstar:before {
  content: "\ebc4";
}

.slc-outstore:before {
  content: "\ebc5";
}

.slc-outsun:before {
  content: "\ebc6";
}

.slc-outswatchbook:before {
  content: "\ebc7";
}

.slc-outtable-column:before {
  content: "\ebc8";
}

.slc-outtable-row:before {
  content: "\ebc9";
}

.slc-outtablet:before {
  content: "\ebca";
}

.slc-outtag:before {
  content: "\ebcb";
}

.slc-outterminal:before {
  content: "\ebcc";
}

.slc-outtext-size:before {
  content: "\ebcd";
}

.slc-outtext-slash:before {
  content: "\ebce";
}

.slc-outthumbs-down:before {
  content: "\ebcf";
}

.slc-outthumbs-up:before {
  content: "\ebd0";
}

.slc-outticket:before {
  content: "\ebd1";
}

.slc-outtrash-bin:before {
  content: "\ebd2";
}

.slc-outtruck:before {
  content: "\ebd3";
}

.slc-outundo:before {
  content: "\ebd4";
}

.slc-outupload:before {
  content: "\ebd5";
}

.slc-outuser-add:before {
  content: "\ebd6";
}

.slc-outuser-circle:before {
  content: "\ebd7";
}

.slc-outuser-edit:before {
  content: "\ebd8";
}

.slc-outuser-headset:before {
  content: "\ebd9";
}

.slc-outuser-remove:before {
  content: "\ebda";
}

.slc-outuser-settings:before {
  content: "\ebdb";
}

.slc-outuser:before {
  content: "\ebdc";
}

.slc-outusers-group:before {
  content: "\ebdd";
}

.slc-outusers:before {
  content: "\ebde";
}

.slc-outvideo-camera:before {
  content: "\ebdf";
}

.slc-outvolume-down:before {
  content: "\ebe0";
}

.slc-outvolume-up:before {
  content: "\ebe1";
}

.slc-outwallet:before {
  content: "\ebe2";
}

.slc-outwand-magic-sparkles:before {
  content: "\ebe3";
}

.slc-outwindow:before {
  content: "\ebe4";
}

.slc-outzoom-in:before {
  content: "\ebe5";
}

.slc-outzoom-out:before {
  content: "\ebe6";
}