@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --font-primary-color: #fff;

  --primary-color: #cecece;
  --primary-color-border: rgb(206, 206, 206, 0.5);
  --primary-background-color: #191919;
  --secundary-background-color: #292929;

  --danger-color: #ff0000;
}
