@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #cecece;
  --primary-background-color: #191919;

  --danger-color: #ff0000;
}
