:root {
  --font-primary-color: #fff;

  --primary-color: #cecece;
  --primary-color-rgb: rgb(206, 206, 206, 0.5);
  --primary-background-color: #191919;
  --secundary-background-color: #292929;

  --danger-color: #ff0000;
}
