@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --font-primary-color: #000;

  --primary-color: #0066ff;
  --primary-color-rgb: rgb(0, 102, 255);
  --primary-background-color: #fff;
  --secundary-background-color: #ddd;
  --primary-color-contrast: #fff;
  --primary-color-shade: #ddd;

  --danger-color: #ff0000;
  --disabled-color: #7f7f7f;
}
