@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #4bc9f1;
  --primary-background-color: #272464;
  --secondary-color: #57cc98;

  --danger-color: #b31313;
}
