:root {
  --docs-width: 64%;
}
slice-documentation-page slice-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.docs_container {
  margin-top: 60px;
  font-family: var(--font-family);
  color: var(--font-primary-color);
  overflow-y: scroll;
  overflow-x: hidden;
  width: var(--docs-width);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}
p {
  text-align: justify;
}
h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--secondary-background-color);
}
h2 {
  padding-top: 10px;
}

@media only screen and (max-width: 770px) {
  :root {
    --docs-width: 100%;
  }
}
