.visualComponents p span {
  color: var(--primary-color);
}
:root {
  --docs-width: 64%;
}
slice-documentation-page slice-route {
  display: flex;
  justify-content: center;
}

p {
  text-align: justify;
}
h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--secondary-background-color);
}
h2 {
  padding-top: 10px;
}
.grid-container {
  overflow-x: auto;
}
@media only screen and (max-width: 770px) {
  :root {
    --docs-width: 100%;
  }
}
* {
  font-family: var(--font-family);
}
slice-documentation {
  color: var(--font-primary-color);
  margin-top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: var(--docs-width);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}
