<div class="intro">
  <h1>Slice Framework</h1>
  <div class="info">
    <p class="eslogan">Simplicity in every piece, power in every app</p>
    </p>
  </div>
</div>
<div class="goToDocs">
  <p>
    Introducing the Slice Framework, a revolutionary approach to web client
    development, rooted in a modular structure and component-based architecture.
  </p>
  <p>
    Slice Framework empowers developers with a robust foundation for crafting
    web clients through its modular design. By breaking down functionality into
    independent, reusable components, developers enjoy simplified maintenance
    and seamless extension capabilities.
  </p>
  <p>
    Explore our documentation to learn how to harness the power of Slice
    Framework. Join us on a journey through the Slice Framework documentation
    and unleash your web development potential like never before!
  </p>
</div>
