/* .code_visualizer {
  height: 30vh;
} */
.monaco-editor {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
/* .monaco-editor,
.overflow-guard {
  width: 100%;
} */
.monaco-scrollable-element {
  overflow-y: hidden;
}
.view-lines {
  pointer-events: none;
}
.code_language {
  display: flex;
  margin-top: 10px;
  slice-button {
    width: 100%;
  }
}
