<div class="container">
    <div class="slice-tester">
        <div class="slice_tester_subject"></div>
        <span class="slice_tester_description"></span>
    </div>
</div>

<style>
    .container {
            width: 90%;
            margin: 50px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .slice-tester {
            border: 2px solid #3498db;
            border-radius: 8px;
            overflow: hidden;
            margin: 15px;
            width: 200px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .slice-tester:hover {
            transform: scale(1.05);
        }

        .slice_tester_subject {
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            font-weight: bold;
        }

        .slice_tester_description {
            background-color: #ecf0f1;
            text-align: center;
        }
</style>