.slice_nav_header {
  left: 0;
  top: 0;
  font-family: var(--font-family);
  width: 100%;
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 0px 10px #00000050;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
<<<<<<< HEAD
}
.direction-row-reverse {
  flex-direction: row-reverse;
=======
>>>>>>> bdab084 (NavBar logo can be added, and anim-item on hover. Mobile menu next to be added)
}
.direction-row-reverse {
  flex-direction: row-reverse;
}
.slice_nav_bar {
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
}
.nav_bar_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.nav_bar_menu .item {
  font-weight: bold;
  padding: 25px;
  color: var(--primary-color-contrast);
  text-decoration: none;
  border-radius: var(--border-radius-slice);
}
.anim-item {
  position: absolute;
  left: 50%;
  width: 0%;
  height: 2.5px;
  border-radius: 5px;
  background-color: var(--primary-color-contrast);
  transition: width 0.3s ease, left 0.3s ease;
}
.nav_bar_menu li {
  position: relative;
}

.nav_bar_menu li:hover .anim-item {
  width: 100%;
  left: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> bdab084 (NavBar logo can be added, and anim-item on hover. Mobile menu next to be added)
=======
>>>>>>> 7396563 (Navbar adds Buttons)
.slice_nav_header .logo_container {
  padding: 10px;
}
.logo_container img {
  pointer-events: none;
  user-select: none;
  max-height: 50px;
  max-width: 200px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.nav_bar_buttons {
  display: flex;
=======
.nav_bar_buttons {
  display: flex;
<<<<<<< HEAD
  slice-button {
    /* width: 150px; */
  }
>>>>>>> 7396563 (Navbar adds Buttons)
=======
>>>>>>> 37efcce (small change)
}
.slice_mobile_menu {
<<<<<<< HEAD
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  visibility: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}
.mobile_menu_button,
.mobile_close_menu {
=======
.slice_mobile_menu {
>>>>>>> bdab084 (NavBar logo can be added, and anim-item on hover. Mobile menu next to be added)
=======
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition: left 0.3s ease;
}
.menu_open {
  left: 0;
}
.mobile_menu_button {
  z-index: 1;
>>>>>>> b740578 (mobile menu on process)
  visibility: hidden;
  position: absolute;
  right: 0px;
  margin-right: 25px;
}
<<<<<<< HEAD
.mobile_close_menu {
  top: 25px;
}
@media only screen and (max-width: 770px) {
  .slice_nav_bar,
  .nav_bar_buttons {
    visibility: hidden;
  }
  .slice_mobile_menu,
  .mobile_menu_button,
  .mobile_close_menu {
=======
@media only screen and (max-width: 770px) {
  .slice_nav_bar,
  .nav_bar_buttons {
    visibility: hidden;
  }
<<<<<<< HEAD
  .slice_mobile_menu {
>>>>>>> bdab084 (NavBar logo can be added, and anim-item on hover. Mobile menu next to be added)
=======
  .slice_mobile_menu,
  .mobile_menu_button {
>>>>>>> b740578 (mobile menu on process)
    visibility: visible;
  }
}
