.slice_button_value {
  user-select: none;
  cursor: pointer;
}
.slice_button {
  cursor: pointer;
  max-width: fit-content;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  border-radius: 5px;
  border: 1px solid;
  font-weight: 800;
  min-width: 100%;
  padding: 10px 0;
}
.slice_button:hover {
  transform: none;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}
.slice_button_container {
  padding: 10px;
}
